<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>德系</string>
		<key>footer</key>
		<string>德系车质量好啊</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>奔驰</string>
				<key>icon</key>
				<string>p01</string>
			</dict>
			<dict>
				<key>name</key>
				<string>bmw</string>
				<key>icon</key>
				<string>p02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>日系</string>
		<key>footer</key>
		<string>日系车质量好啊</string>
		<key>cars</key>
		<array>
			<dict>
				<key>name</key>
				<string>本田</string>
				<key>icon</key>
				<string>p01</string>
			</dict>
			<dict>
				<key>name</key>
				<string>丰田</string>
				<key>icon</key>
				<string>p02</string>
			</dict>
			<dict>
				<key>name</key>
				<string>马自达</string>
				<key>icon</key>
				<string>p02</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
